[Unit]
Description='Persona 5 calendar on the Background'
After=network.target network-online.target

[Timer]
OnCalendar=*-*-* 03:00:00
OnCalendar=*-*-* 09:00:00
OnCalendar=*-*-* 13:00:00
OnCalendar=*-*-* 19:00:00
OnCalendar=*-*-* 00:00:00

[Install]
WantedBy=timers.target
