[Unit]
Description='Persona 5 calendar on the Background'
After=network.target network-online.target
After=suspend.target

[Timer]
OnCalendar=*:0,15,30,45

[Install]
WantedBy=timers.target
